<!DOCTYPE html>
<html><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Spotitab - All tabs and chords of your favorite songs!</title>
        <meta name="keywords" content="">
        <meta name="description" content="Spotitab finds guitar tabs and chords of all your spotify songs!">

        <link rel="shortcut icon" href="" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <meta name="fragment" content="!">

        {% load staticfiles %}
        <link rel="stylesheet" href={% static 'styles/spotitab.min.css' %}>
        <script src="{% static 'styles/js/jquery-2.2.1.min.js' %}"></script>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
            <script src="js/vendor/placeholders.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
        $(document).ready(function(){
            $('input[type="radio"]').click(function(){
                if($(this).attr("value")=="chords"){
                    $(".tabs").hide();
                    $(".chords").show();
                }
                if($(this).attr("value")=="tabs"){
                    $(".chords").hide();
                    $(".tabs").show();
                }
            });
            $(".tabs").hide();
            $(".chords").show();
        });
        </script>

        <link href="{% static 'styles/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/custom.css' %}" rel="stylesheet" type="text/css">

    </head>
    <body class="">

        <section class="header">
            <h1><strong>Spoti</strong><span>tab</span></h1>
        </section>

        <div class="container">
	        <div class="row">
                <div class="col-md-3">
                    <div class="list-group" id="sidebar">
                        {% for key, value in playlists.items %}
                            <a href="?playlist={{ key }}" class="list-group-item">
                                {{ value }}
                            </a>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-9" style="white-space: pre">
                    <table>
                        {% if tabs or chords %}
                            <tr>
                                <div class="btn-group">
                                    <td>
                                        <input type="radio" id="radio1" name="radios" value="chords" checked>
                                        <label for="radio1">Chords</label>
                                    </td>
                                    <td>
                                        <input type="radio" id="radio2" name="radios"value="tabs">
                                        <label for="radio2">Tabs</label>
                                    </td>
                                </div>
                            </tr>
                        {% endif %}

                        {% if tracks %}
                            {% for id, artist, song in tracks %}
                                <tr onclick="document.location = '?track={{ id }}';"><td> {{ artist }} </td><td> - </td><td> {{ song }} </td></tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    {% if chords %}
                        <div class="chords" style="font-family: 'Courier New'">
                            <p>Chords:</p>
                            {{ chords }}
                        </div>
                    {% endif %}
                    {% if tabs %}
                        <div class="tabs" style="font-family: 'Courier New'">
                            <p>Tabs:</p>
                           {{ tabs }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <section class="footer">

        </section>
</body></html>